{% if noteProps %}
<pre>
banner: {{ noteProps.banner }}

style: {{ noteProps.banner_style }}

height: {{ noteProps.banner_height }}

mobile_height: {{ noteProps.banner_mobile_height }}

y: {{ noteProps.banner_y }}

content_margin: {{ noteProps.banner_content_margin }}

icon: {{ noteProps.banner_icon }}

icon_size: {{ noteProps.banner_header_icon_size }}
</pre>
{% endif %}
